# django-xicon
# .coveragerc


[run]
branch = True
source = xicon
omit =
    */__init__.py
   xicon/apps.py

[report]
omit =
    */__init__.py
    xicon/apps.py
exclude_lines =
    pragma: no cover

[xml]
