# django-xicon
# MANIFEST.in


prune tests*
include README.rst
include COPYING
include AUTHORS
recursive-include xicon *.po
recursive-include xicon *.mo
include xicon/templates/xicon/includes/xicon.html
include xicon/templates/xicon/includes/apple.html
include xicon/templates/xicon/includes/android-chrome.html
include xicon/templates/xicon/includes/msapplication.html
include xicon/templates/xicon/includes/android-chrome-manifest-meta.html
include xicon/templates/xicon/includes/msapplication-browserconfig-meta.html
include xicon/templates/xicon/templatetags/xicon_favicon.html
include xicon/templates/xicon/templatetags/xicon_favicons.html
include xicon/templates/xicon/templatetags/xicon_apple_touch_icon.html
include xicon/templates/xicon/templatetags/xicon_apple_touch_icons.html
include xicon/templates/xicon/templatetags/xicon_apple_mobile_web_app_status_bar_style.html
include xicon/templates/xicon/templatetags/xicon_apple_mobile_web_app_title.html
include xicon/templates/xicon/templatetags/xicon_apple_touch_icon_mask_icon.html
include xicon/templates/xicon/templatetags/xicon_android_chrome_theme_color.html
include xicon/templates/xicon/templatetags/xicon_msapplication_name.html
include xicon/templates/xicon/templatetags/xicon_msapplication_tile_color.html
include xicon/templates/xicon/templatetags/xicon_mstile.html
include xicon/templates/xicon/templatetags/xicon_mstiles.html
include xicon/templates/xicon/browserconfig.xml
