# django-xicon
# MANIFEST.in


include README.rst
include COPYING
include AUTHORS
include xicon/templates/xicon/templatetags/xicon_favicon.html
include xicon/templates/xicon/templatetags/xicon_favicons.html
